{
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "consistent-return": "error",
        "indent"           : ["error", 4],
        "no-else-return"   : "warn",
        "semi"             : ["error", "always"],
        "space-unary-ops"  : "error",
        "linebreak-style"  : ["error", "unix"],
        "quotes"           : ["error", "single"],
        "no-undef"         : "error",
        "no-unused-vars"   : "error",
        "strict"           : "error",
        "curly"            : "error",

    }
}