{
    "env" : {
        "browser" : true
    },
    "extends" : "eslint:recommended",
    "rules" : {
        "array-bracket-spacing"         : "error",
        "block-scoped-var"              : "error",
        "block-spacing"                 : "error",
        "brace-style"                   : "error",
        "comma-spacing"                 : "error",
        "computed-property-spacing"     : "error",
        "consistent-return"             : "error",
        "curly"                         : "error",
        "default-case"                  : "error",
        "dot-notation"                  : "error",
        "eqeqeq"                        : "error",
        "func-call-spacing"             : "error",
        "guard-for-in"                  : "error",
        "indent"                        : ["error", 4],
        "linebreak-style"               : ["error", "unix"],
        "new-cap"                       : "error",
        "new-parens"                    : "error",
        "no-array-constructor"          : "error",
        "no-caller"                     : "error",
        "no-case-declarations"          : "error",
        "no-console"                    : "off",
        "no-delete-var"                 : "error",
        "no-div-regex"                  : "error",
        "no-else-return"                : "error",
        "no-eq-null"                    : "error",
        "no-eval"                       : "error",
        "no-extend-native"              : "error",
        "no-extra-bind"                 : "error",
        "no-extra-label"                : "error",
        "no-extra-parens"               : "error",
        "no-fallthrough"                : "error",
        "no-floating-decimal"           : "error",
        "no-global-assign"              : "error",
        "no-implicit-coercion"          : "error",
        "no-implicit-globals"           : "error",
        "no-implied-eval"               : "error",
        "no-invalid-this"               : "error",
        "no-iterator"                   : "error",
        "no-labels"                     : "error",
        "no-lone-blocks"                : "error",
        "no-loop-func"                  : "error",
        "no-magic-numbers"              : ["error",  { "ignore" : [-1, 0, 1] } ],
        "no-mixed-spaces-and-tabs"      : "error",
        "no-multi-assign"               : "error",
        "no-multi-spaces"               : "error",
        "no-multi-str"                  : "error",
        "no-multiple-empty-lines"       : "error",
        "no-negated-condition"          : "error",
        "no-nested-ternary"             : "error",
        "no-new"                        : "error",
        "no-new-func"                   : "error",
        "no-new-object"                 : "error",
        "no-new-wrappers"               : "error",
        "no-octal"                      : "error",
        "no-octal-escape"               : "error",
        "no-proto"                      : "error",
        "no-prototype-builtins"         : "error",
        "no-redeclare"                  : "error",
        "no-return-assign"              : "error",
        "no-script-url"                 : "error",
        "no-self-assign"                : "error",
        "no-self-compare"               : "error",
        "no-sequences"                  : "error",
        "no-shadow"                     : "error",
        "no-tabs"                       : "error",
        "no-throw-literal"              : "error",
        "no-trailing-spaces"            : "error",
        "no-undefined"                  : "error",
        "no-unmodified-loop-condition"  : "error",
        "no-unneeded-ternary"           : "error",
        "no-unused-expressions"         : "error",
        "no-useless-call"               : "error",
        "no-useless-concat"             : "error",
        "no-useless-escape"             : "error",
        "no-useless-return"             : "error",
        "no-void"                       : "error",
        "no-whitespace-before-property" : "error",
        "no-with"                       : "error",
        "object-curly-spacing"          : "error",
        "quotes"                        : ["error", "single"],
        "radix"                         : "error",
        "semi"                          : ["error", "always"],
        "semi-spacing"                  : "error",
        "space-before-blocks"           : "error",
        "space-before-function-paren"   : ["error", "never"],
        "space-in-parens"               : ["error", "never"],
        "space-infix-ops"               : "error",
        "space-unary-ops"               : "error",
        "strict"                        : "error",
        "unicode-bom"                   : "error",
        "valid-jsdoc"                   : "error",
        "vars-on-top"                   : "error",
        "wrap-regex"                    : "error",
        "yoda"                          : "error",
    }
}