body {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 9pt;
}

.dropdown-container {
    display: flex;
    margin: 10px 5px 5px 5px;
    width: 98%;
}

.dropdown-container > section {
    flex: 1;
}

#category-selector {
    width: 40%;
    margin-right: 3px;
}

#feed-selector {
    width: 51%;
    margin-right: 2px;
}

.refresh {
    text-align: left;
    outline: none;
    width: auto;
    margin-right: 3px;
    cursor: pointer;
    padding: 4px 8px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABFklEQVQ4y7XTr0vdYRgF8I9wo4Y5DHIZrGhyYLpgGDM8YFkRtrJksVhM4t9gNSytzDI2xjAJwgkbEwTThu0y/4LLEMGosvINl6933lt82/ue9zw/znMeHvtU1fxD+NQY8iwusJ3kYKIAVTWDXWygOwR9SLLZ/t9pkbsIFnCIH9jHR+yMqqAzRJ7CV8xjNclJ836R5GisBlW1jm94l+TTpCIPt/AaA3weI2wHkty0AzzDnyR3Y5J+wS3etgNc4fkEVS/h96gWvuNNVfWSnP2n/F4zof1RIk6jj8tmCoMWea5J8gSLSa7vGamqXuIYf7HX+ABeNeZ6irUkPx9y4jLeY6UFnWIrya+JdqGqFvGiuZ4n6T/Ktv4DEDNRJWrjhhUAAAAASUVORK5CYII=);
}

#entries {
    margin: 0 8px 10px 5px;
}

#entries li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
}

#entries li a {
    color: #000000;
    text-decoration: none;
}

#entries li.ouch a {
    color: #0000FF;
}

#entries li a:hover, #entries li a:visited:hover {
    color: #FF0000;
}

#entries li a:visited {
    color: #490093;
}
