body {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 9pt;
}

.dropdown-container {
	width: 98%;
	margin: 10px 5px 10px 5px;
}

#category-selector {
	width: 30%;
}

#feed-selector {
	width: 60%;
}

.anchor-refresh {
	cursor: pointer;
	font-size: 12pt;
	width: 10%;
}

#entries {
	margin: 0 8px 10px 5px;
}

#entries li {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	line-height: 25px;
}

#entries li a {
	color: #000000;
	text-decoration: none;
}

#entries li a.ouch {
	color: #0000FF;
}

#entries li a:hover, #entries li a:visited:hover {
	color: #FF0000;
}

#entries li a:visited {
	color: #0000FF;
}